<% provide(:title, "About") %>
<h1>テニスフリークとは</h1>
<p>
  テニスフリークは、テニスマニアが集まるコミュニケーションアプリです。
</p>
<p>
  応援している選手、好きなラケットのメーカー、お気に入りのストリング、テニスウェアのコーディネート…
</p>
<p>
  あなたのこだわりに共感する人はきっといるはずです！テニスへのこだわりを発信していきましょう！
</p>