<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  
  <% if current_user.admin? && !current_user?(user) %>
    |  <%= link_to "基本情報編集", basic_info_url(params:{id: user.id}) %>
    |  <%= link_to "削除", user, method: :delete,data: { confirm: "本当に削除してよろしいですか？" } %>
  <% end %>
</li>