<% provide(:title, 'Time Display') %>
<h1>勤怠表示画面</h1>

<table class = "table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th class = "table-header">時間管表</th>
  　　<th class = "table-header">指定勤務時間</th>
  　　<th colspan = "3" class = "table-header">基本時間</th>
  　　<th class = "table-header">初日</th>
  　</tr>
  　<tr>
  　　<th class = "table-header">所属</th>
  　　<th class = "table-header">氏名:<%= user.name %></th>
  　　<th class = "table-header">コード</th>
  　　<th class = "table-header">数字</th>
  　　<th class = "table-header">出勤日数</th>
  　　<th class = "table-header">締め</th>
  　</tr>
  </thead>　
</table>

<%= link_to "勤怠を編集", login_path, class: "btn edit-attendance btn-primary" %>

<table class = "table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th rowspan = "2" class = "table-header">日付</th>
      <th rowspan = "2" class = "table-header">曜日</th>
      <th colspan = "3" class = "table-header">出社</th>
      <th colspan = "3" class = "table-header">退社</th>
      <th rowspan = "2" class = "table-header">在社時間</th>
      <th rowspan = "2" class = "table-header">備考</th>
      <th rowspan = "2" class = "table-header">残業指示</th>
      <th rowspan = "2" class = "table-header">指示者</th>
    </tr>
    <tr>
      <th class = "table-header">時</th>
      <th class = "table-header">分</th>
      <th class = "table-header">空白</th>
      <th class = "table-header">時</th>
      <th class = "table-header">分</th>
      <th class = "table-header">空白</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  
  <tfoot>
    <tr>
      <td colspan = "2"></td>
      <td colspan = "6"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
