<footer class="footer">
  <small>
    ＜参考資料＞  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    ＜製作者＞ <a href="http://www.facebook.com/nukiokun">綿貫 竜一</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Tennis Freakとは",   about_path %></li>
      <li><%= link_to "綿貫 竜一について", contact_path %></li>
    </ul>
  </nav>
</footer>